<IfModule mod_headers.c>
    # désactiver le cache du navigateur pour les fichiers CSS, JavaScript et les images
    <FilesMatch "\.(css|js|jpeg|jpg|png|gif)$">
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Expires "Mon, 1 Jan 2000 00:00:00 GMT"
        Header unset ETag
    </FilesMatch>

    # désactiver le cache du navigateur pour les fichiers PHP
    <FilesMatch "\.php$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
        Header unset ETag
    </FilesMatch>
</IfModule>