#hero{
    width: 100%;
    height: 100vh;
   /*  background-color: blue; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   /*  z-index: -1; */
}

#hero h1{
    position: absolute;
    font-family:'space-mono-bold-italic';
    font-size: 6.6vw; /* 96px */
    -webkit-text-stroke: 2px #fff; /* pour une compatibilité avec les navigateurs webkit */
    color: transparent;
}

/* container filter et photo */
#container_filter_photo {
    width: 100vw;
    height: auto;
    padding: 5vh 9.8vw 20.41vh 9.8vw;
   /*  background-color: brown; */
}

/* les filtres  */
#filter{
    width: 100%;
    height: 5vw;
    display: flex;
   /*  background-color: blueviolet; */
}

#left_filter{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
   /*  background-color: bisque; */
}

#category_filter{
    padding-right: 14.23vw;
}

#right_filter{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color:greenyellow; */
}

/*  les photo */
#grillePhoto{
    width: 100%;
    height: auto;
    padding-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.photo_taille_accueil{
    height: 34vw; /*  495px */
    width: 39vw;   /* 564px */
    object-fit: cover;
}


#container_button_chargez_plus{
    width: 100%;
    height: 19vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
#button_chargez_plus{
    width: 8.25vw;
    height: 5.1vh;
    background-color: #D8D8D8;
    font-size: 0.82vw;
    font-family:'space-mono';
    border-radius:2px;
    border:none;
    cursor: pointer;

}


@media screen and (max-width: 768px){
    #grillePhoto{

        grid-template-columns: 1fr;
        justify-items: center;
    }    
}