
/* partue du haut  */
.d-flex-row{
    display: flex;
}

#container_fiche_photo {
    width: 100vw;
    height: auto;
    padding: 10.92vh 9.8vw 20.41vh 9.8vw;
   /*  background-color: brown; */
}

#description_photo{
    display: flex;
    width: 100%;
    height: 60.70vw;
   /*  height: auto; */
  
}

/* partie gauche  */
#description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    padding-bottom: 6vh ; 
    /* background-color: aqua; */
}

#description h1{
    font-family:'space-mono';
    font-size: 4.4vw; /* 66px */
    font-weight: 400;
    padding-bottom: 12.63vh; /* 44px */
    text-transform: uppercase;
}

#description p{
    font-family:'space-mono';
    font-size: 0.96vw; /* 14px */
    text-transform: uppercase; 
}

#description p:not(:last-child){
    padding-bottom: 2.58vh; /* 9px */
}

/* partie de droite */
#visuel {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color:coral;
    position: relative;
}


#photo_single_visuel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}



/* partie du milieu contact et navigation */

#contact_navigation {
    width: 100%;
    min-height: 8.18vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
}

/* milieu partie de gauche : contact */
#contact_navigation p {
    font-family:'poppins';
    font-size: 0.96vw; /* 14px */
    font-weight: 300;
    padding: 1.30vh 1.92vw 1.30vh 0;
}
#container_button_contact_photo {
    display:flex;
}

    /* Tous les bouton de la page */
.button_style_page_single{
    padding: 1.30vh 2.40vw;
    border: none;
    border-left: 4px solid black;
    font-family: 'space-mono';
    font-size: 0.96vw;
    background-color: transparent;
    cursor: pointer;
}

/* milieu partie de droite : navigation */

#container_navigation_column{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#container_image_navigation{
    width: 5.29vw; /* 77px */
    height: 4.26vw; /* 62px */
    margin-bottom: 1.65vh;

    background-color: darkorchid;
}

.image_navigation{
    width: 5.29vw; /* 77px */
    height: 4.26vw; /* 62px */
    object-fit: cover;
}
#arrow{
    display: flex;
}

#arrows a:nth-of-type(1){
    padding-right: 3.98vw;
}


/* partie bas images similaires */
#container_fiche_photo h2{
    font-family: 'space-mono';
    font-size: 1.23vw;
    padding-top: 5.29vw;
}

#container_part_similar{
    width: 100%;
    height: auto;
    padding-top: 6vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.container_photo_similar {
    height: 34vw; /*  495px */
    width: 39vw;   /* 564px */
    position: relative;  /* hover icone sur photo */
}

.photo_similar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* hover elements photo */

.hover_elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container_photo_similar:hover .hover_elements {
    opacity: 1;
}

#visuel:hover .hover_elements {
    opacity: 1;
}

.hover_icon_eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vw;
    height: 4vw;
}

.hover_icon_fullscreen{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 4vw;
    height: 4vw;
}

#container_part_similar .container_photo_similar .hover_elements h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family:'Space Mono';
    font-size: 0.96vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
  
.container_photo_similar .hover_elements h3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family:'Space Mono';
    font-size: 0.96vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
  
/* button toute les photos */
#container_button_all_photo{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5.29vw;
}



@media screen and (max-width: 768px) {

    #container_fiche_photo{
        margin-top: 6.6vh
    }

    #description_photo{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #description h1{
        padding-top: 5vh;
        padding-bottom: 5vh; /* 44px */
    }

    #container_navigation_column{
        display:none
    }

    #container_button_contact_photo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #container_fiche_photo h2{
       text-align: center;
   }

   #container_part_similar {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}    /* fin media queries */
   


